# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/**/node_modules
event_app/.pnp
event_app/.pnp.js
event_app/.yarn/install-state.gz

# testing
event_app/coverage

# next.js
event_app/.next/
/out/

# production
event_app/build

# misc
.DS_Store
event_app/*.pem

# debug
event_app/npm-debug.log*
event_app/yarn-debug.log*
event_app/yarn-error.log*

# local env files
event_app/.env*.local

# vercel
event_app/.vercel

# typescript
event_app/*.tsbuildinfo
event_app/next-env.d.ts
